
Laba4/Laba4.xcodeproj/project.pbxproj
Laba4/Laba4.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Laba4/Laba4.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Laba4/Laba4.xcodeproj/project.xcworkspace/xcuserdata/pasha.xcuserdatad/UserInterfaceState.xcuserstate
Laba4/Laba4.xcodeproj/xcuserdata/pasha.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
